/* cloudiness page styling */

.cloudiness {
    width: 800px;
    margin-top: 3%;
    
}

.cloudparagraph_1 {
    font-size: 15px;
    margin-top: 37%;
    color: lightslategray ;
}

.cloudparagraph_2 {
    font-size: 15px;
    color: lightslategray ;
  
}

.cloudiness_dropdown {
    background-color: lightslategray;
}

.cloudiness_header {
    font-size: 25px;
    margin-left: 45%;
    margin-top: 2%;
    color: lightslategray;
}


/* max temp page styling */
.max_temp  {
    width: 800px;
    margin-top: 3%;

}

.maxtemp_dropdown {
    background-color: rgb(51, 37, 177);
}

.maxtemp_header {
    font-size: 25px;
    margin-left: 45%;
    margin-top: 2%;
    color: rgb(51, 37, 177);
}

.maxtpar_1 {
    font-size: 15px;
    margin-top: 25%;
    color: rgb(51, 37, 177);

}

.maxtpar_2 {
    font-size: 15px;
    color: rgb(51, 37, 177)
    
}



/* humidity page styling */

.humidity {
    margin-top: 5%;
}


.humidity_dropdown {
    background-color: rgb(0, 153, 255);

}

.humidity_header {
    font-size: 25px;
    margin-left: 45%;
    margin-top: 2%;
    color: rgb(0, 153, 255);
}

.humparagraph_1 {
    font-size: 15px;
    margin-top: 22%;
    color:rgb(0, 153, 255)
}

.humparagraph_2 {
    font-size: 15px;
    color: rgb(0, 153, 255);
}

/* 
windpseed page styling */

.windspeed_dropdown {
    background-color: rgb(218, 88, 131);
}

.windspeed_header {
    font-size: 25px;
    margin-left: 45%;
    margin-top: 2%;
    color: rgb(218, 88, 131);
}

.wspar_1 {
    font-size: 15px;
    margin-top: 22%;
    color:rgb(218, 88, 131);
}

.wspar_2 {
    font-size: 15px;
    color:rgb(218, 88, 131)
}


/* data table styling */

#data_table {
    width: 105px;
    margin-left: 19%;
    background-color: rgb(231, 213, 196);
    padding: 1em;
}

.data_text {
    margin-left:34%

}

/* COMPARISON PAGE EDITING */

.cloudcompare_heading {
    margin-left:40% ;
    color: lightslategray;
}

.windcompare_heading {
    margin-left: 18%;
    color: rgb(218, 88, 131);
}

.maxtempcompare_heading {
    margin-left: 35%;
    color: rgb(51, 37, 177);

}

.humidcompare_heading {
    margin-left: 16%;
    color:rgb(0, 153, 255);

}

#comparecloud {
    width: 400px;
    margin-left: 25%;
}

#comparewind {
    width: 400px;
}

#comparemaxtemp {
    width: 400px;
    margin-left: 25%;
}

#comparehumid {
    width: 400px;

    
}

/* formatting index page  */
.home_title {
    color: blue;
    font-weight: bold;
    margin-left: 17%;
}


/* formatting right side of index page */

.top_row {
    width: 190px;
    margin-top:15%
}

.bottom_row {
    width: 190px;
    margin-top:5%
}

#right_side {
    margin-top: 2%;
    padding: 2em;
    background-color: rgb(231, 213, 196);
}

.plots_index_header {
    margin-left:43%;
}

/* formatting left hand side of index page */

.lat_on_globe {
    width: 260px;
    margin-top: 9.5%;
}

#left_side_index {
    margin-top: 6%
}

/* formatting navbar */

#latitude_button {
    background-color: rgba(7, 25, 223, 0.744);
    padding: 0.5em;
    color: black;
    
}

#nav_bar_format {
    background: rgb(231, 213, 196);
    font-weight: bolder; 
}

#whole_right_side {
    padding: 0.5em;
    background-color: rgb(231, 213, 196) ;
}


 
@media (max-width:600px) {

    #nav_bar_format {
        background-color: rgb(6, 186, 6);
    }

    .lat_on_globe {
        margin-left: 21%;
        margin-top: 1%
    }

    #top_left_img {
        flex: 25%;
        width: 25px;
    }

    #top_right_img {
        flex: 25%;
        width: 25px;

    }

    #bottom_left_img {
        flex: 25%;
        width: 25px;

    }

    #bottom_right_img {
        flex: 25%;
        width: 25px;

    }

    #comparecloud {
        display: block;  
        margin-left: auto;
        margin-right: auto;
    }

    #comparewind {
        display: block;  
        margin-left: auto;
        margin-right: auto;
    }

    #comparemaxtemp {
        display: block;  
        margin-left: auto;
        margin-right: auto;
    }

    #comparehumid {
        display: block;  
        margin-left: auto;
        margin-right: auto;
    }

    .cloudcompare_heading {
        margin-left: 30%;
    }
    
    .windcompare_heading {
        margin-left: 30%;

    }
    
    .maxtempcompare_heading {
        margin-left: 22%;
    }
    
    .humidcompare_heading {
        margin-left: 30%;
    
    }

    #data_table {
        margin-left: 0%;
    }

    .data_text {
        margin-left:12%;
    }

    /* Cloudiness page Media Query */

    .cloudiness {
        width: 450px ;
        margin-left: 0%;
        padding: 0.5em;
        background-color: lightslategray;
    }

    .cloudparagraph_1 {
        font-size: 15px;
        margin-top: 3%;
        color: lightslategray ;
    }
    
    .cloudparagraph_2 {
        font-size: 15px;
        color: lightslategray ;
      
    }

    .cloudiness_header {
        font-size: 25px;
        margin-left: 40%;
        margin-top: 2%;
        color: lightslategray;
    }
    /* Windspeed Page Media Query */
    .windspeed_header {
        font-size: 25px;
        margin-left: 40%;
        margin-top: 2%;
        color: rgb(88, 218, 88);
    }

    .windspeed {
        width: 450px;
        margin-left: 0%;
        padding: 0.5em;
        background-color: rgb(88, 218, 88);
    
    }
    
    .wspar_1 {
        font-size: 15px;
        margin-top: 3%;
        color:rgb(88, 218, 88)
    }
    
    .wspar_2 {
        font-size: 15px;
        color:rgb(88, 218, 88)
    }

    /* Max Temp Page Media Query */
    .max_temp  {
        width: 450px;
        margin-top: 3%;
        margin-left: 0%;
        padding: 0.5em;
        background-color: rgb(177, 37, 37);
    
    }
    
    .maxtemp_header {
        font-size: 25px;
        margin-left: 33%;
        margin-top: 2%;
        color: rgb(177, 37, 37);
    }
    
    .maxtpar_1 {
        font-size: 15px;
        margin-top: 3%;
        color:rgb(177, 37, 37);
    
    }
    
    .maxtpar_2 {
        font-size: 15px;
        color:rgb(177, 37, 37)
        
    }

    /* Humidity Page Media Query */

    .humidity {
        width: 450px;
        margin-left: 0%;
        padding: 0.5em;
        background-color: rgb(0, 153, 255)
    }
    
    .humidity_header {
        font-size: 25px;
        margin-left: 40%;
        margin-top: 2%;
        color: rgb(0, 153, 255);
    }
    
    .humparagraph_1 {
        font-size: 15px;
        margin-top: 3%;
        color:rgb(0, 153, 255)
    }
    
    .humparagraph_2 {
        font-size: 15px;
        color: rgb(0, 153, 255);
    }
}
